form.signup,
form.login {
  margin-top: 50px;
}

.taskHolder{
  
  background-color: antiquewhite;
  color: whitesmoke;
  background-color: #2D4739;
  border-radius: 15px;

}

.taskCard{
  margin: 15px;
  padding-top: 10px;
  background-color:#09814A;
  border-radius: 15px;
  text-align: center;
}

.centerText{
  text-align: center;
}

